In [42]:
import pandas as pd
import numpy as np
import math
from scipy import stats
from scipy.stats import norm

In [43]:
# Ho: Null Hypothesis: There is difference in the diameter of the cutlet between two units
# H1: Alt Hypothesis: There is significant difference in the diameter of the cutlet between two units
# ASSUMPTION : CONFIDENCE INTERVAL : 95%

In [44]:
Alp = 0.005

In [45]:
Data = pd.read_csv("D:\ds\ASSIGNMENTS_SELFPACED\ASSIGNMENT_03\Cutlets.csv")

In [46]:
# here n1 = n2
n = 35

In [47]:
unit_1 = Data.UnitA

In [48]:
unit_1

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: UnitA, dtype: float64

In [49]:
unit_2 = Data.UnitB
unit_2

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: UnitB, dtype: float64

In [50]:
#MEAN OF UNIT A
X1_bar = unit_1.mean()
X1_bar

7.01909142857143

In [51]:
#STD of UNIT A
s1 = unit_1.std()
s1

0.2884084841815496

In [52]:
#MEAN OF UNIT B
X2_bar = unit_2.mean()
X2_bar

6.964297142857142

In [53]:
#STD of UNIT B
s2 = unit_2.std()
s2

0.343400647063108

In [54]:
# DIFFERENCE IN MEAN
X_diff = X1_bar-X2_bar
X_diff

0.054794285714288016

In [55]:
#pooled STD
a = (n-1)*s1*s1
b = (n-1)*s2*s2
std_pool = math.sqrt((a+b)/(n+n-2))
std_pool

0.31709892632367936

In [57]:
# degree of freedom
df = n+n-2

In [64]:
#calculate t_statistical value:
t_stat = X_diff/(std_pool*math.sqrt(2/n))
t_stat

0.7228688704678297

In [65]:
#calculate t_critical value:
t_c = stats.t.ppf(0.975,df)
t_c

1.9954689309194018

In [ ]:
#t_c > t_stat = Accept null hypothesis